<!Doctype html>
<html>
	<head>
	 <title>Yelpcamp</title>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	 <link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
	<body style="margin: 80px auto">
	<nav class="navbar fixed-top navbar-default bg-dark">
		<div class="container container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">YelpCamp</a>
			</div>
			<div>
				<ul class="nav navbar-right">
				<% if(!currentUser){ %>
				  <li><a href="/login">LogIn </a>&nbsp; &nbsp; &nbsp;</li>
				  <li><a href="/register"> SignUp</a>&nbsp;</li>
				<% }else { %>
				  <li style= "color: blue">&nbsp; Signed as:- <a href="#"><%= currentUser.username %></a>&nbsp;</li>
				  <li> &nbsp; &nbsp;<a href="/logout"> LogOut</a>&nbsp;</li>
				<% } %>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<% if(error && error.length>0){ %>
		<div class="alert alert-danger" role="alert">
			<%= error%>
		</div>
		<% } %>
		<% if(success && success.length>0){ %>
		<div class="alert alert-success" role="alert">
			<%= success%>
		</div>
		<% } %>
	</div>


<div id="landing-header">
  <h1>Wlcm to YelpCamp</h1>
  <a href="/campgrounds" class="btn btn-success" >View all CampGrounds</a>
</div>

<ul class="slideshow">
 <li> </li>
 <li> </li>
 <li> </li>
 <li> </li>
 <li> </li>
</ul>

<% include partials/footer %>